<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

       <bean id="mydatasource" class="org.apache.commons.dbcp.BasicDataSource">
              <property name="username" value="root">
              </property>
              <property name="password" value="890728">
              </property>
              <property name="driverClassName" value="com.mysql.jdbc.Driver">
              </property>
              <property name="url" value="jdbc:mysql://localhost:3306/sq_kbjwdh?useUnicode=true&amp;characterEncoding=UTF-8">
              </property>
       </bean>
       <!--sqlsessionfactorybean-->
       <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="mydatasource">
              </property>
              <property name="mapperLocations" value="classpath:org/hf520/netctoss/entity/*.xml">
              </property>
       </bean>
       <!--根据MapperDao生成Dao对象实例-->
       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="org.hf520.netctoss"/>
              <property name="annotationClass" value="org.hf520.netctoss.annotation.MyBatis"/>
       </bean>

       <!--Spring Mvc-->
       <context:component-scan base-package="org.hf520.netctoss"/>
       <mvc:annotation-driven/>
       <!--用Resutful拦截的静态资源js.css 放过去-->
       <mvc:default-servlet-handler/>

       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
              <property name="prefix" value="/WEB-INF/jsp/">
              </property>
              <property name="suffix" value=".jsp">
              </property>
       </bean>
       <!--事务控制-->
       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                     <property name="dataSource" ref="mydatasource">
                     </property>
       </bean>
       <!--为了支持@Transactional-->
       <tx:annotation-driven  transaction-manager="transactionManager"/>
</beans>